/*@media only screen and (min-width: 1024px){
	div.main div{
		background-color: green !important;
	}
}
@media only screen and (min-width: 321px) and (max-width: 1024px){
	div.main div{
		background-color: blue !important;
	}
}*/

/*页面层*/
.body{
	width: 100%;
	height: 100%;
	min-width: 800px !important;
	background-color: black;
}
/*头部 层*/
.header-top{
	margin: auto;
	left: 0;
	right: 0;
	height: 60px;
	min-height: 60px;
	position: absolute;
	z-index:1;
}

/*头部 容器层*/
.container{
	/*width: 1000px !important;*/
	min-width: 800px;
	max-width: 1000px;
	margin: auto;
}

/*头部导航栏*/
.nav-box{
	height: 60px;
}

/*导航菜单 start */
.nav-main{
	width: auto;
	float: right !important;
}
.nav-main-ul{
	height: 60px;
	width: auto;
}
.nav-main-ul>li{
	float: left;
	height: 60px;
	line-height: 60px;
	width: 120px;
}
.nav-main-ul>li a{
	transition:background 0.8s;
	-moz-transition:background 0.8s; /* Firefox 4 */
	-webkit-transition:background 0.8s; /* Safari and Chrome */
	-o-transition:background 0.8s; /* Opera */
}
.nav-main-ul>li a:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	border:3px solid SkyBlue;
	top:-3px;
	left: -3px;
	opacity: 0;
}
@-webkit-keyframes boom{
	0% {opacity: 0}
	5% {opacity: 1}
	100% {
		-webkit-transform:scale(1.3);
		transform:scale(1.3);
		opacity: 0;
	}
}
.nav-main-ul>li a:hover:after{
	-webkit-animation:boom 1s ease infinite alternate;
	animation:boom 1s ease infinite alternate;
}

.nav-main-ul>li a:link,.nav-main-ul>li a:visited{
	display: block;
	/* height: 60px;
	width: 120px; */
	height: 40px;
	line-height: 40px;
	margin: auto;
	margin-top: 15px;
	width: 100px;

	text-align: center;
	color: white;
	font-size: 1.5em;
	border-radius: 25px;
	text-decoration: none;
	position: absolute;
}
.nav-main-ul>li a:hover,.nav-main-ul>li a:active{
	background: SkyBlue;
	border:2px solid;
	border-radius: 25px;
}
/*导航菜单 end */


/*头部 logo 外层*/
.nav-left{
	float: left;
}
/*头部 logo*/
.nav-logo{
	height: 60px;
	position: relative !important;
	float: left !important;
	/*background-color: LightSeaGreen;*/
}
.nav-logo>img{
	 cursor:pointer;
}

div.main {
	/*height: 720px;*/
}

#elem{
	height: 100vh;
	min-height: 400px;
	background-color: black;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin:0 auto; 
	width:100%;
	min-width:100px;
	position: relative;
}


/*底部*/
footer div {
	height: 100px;
	/*background-color: #afd9b6;*/
}
footer {
	position: relative;
}

.loadingProcess{
	height: 2px;
	background: red;
	transition:opacity 500ms linear;
	position: fixed;
	/*-webkit-animation:test 3s;*/
}
.loadingProcess.done{
	opacity: 0;
}
#loadingProcess span{
	position: absolute;
	height: 2px;
	-webkit-box-shadow:1px 0 6px 1px  #b91f1f;
	-webkit-border-radius:100%;
	opacity: 1;
	width: 100px;
	right: -10px;
	/*-webkit-animation:pulse 2s ease-out 0s infinite;*/
}


@-webkit-keyframes pulse {
	30% {
		opacity: 1
	}
	60% {
		opacity: 0
	}
	100% {
		width: 1;
	}

}

.gridDiv{
	width: 80%;
	min-width: 800px;
	height: 85%;
	min-height: 500px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 3px 1px black;
	padding: 10px;
	-webkit-animation:rightToCenter 1s ;
	position: absolute;
	top:70px;
	left: 0;
	right: 0;
}

@-webkit-keyframes rightToCenter{
	from{
		opacity: 0 ;
	}
	to{
		opacity: 1 ;
	}
}

.gridUl{
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.gridLi{
	/*float: left;
	padding: 0 5p9;*/
	width: 99%;
	height: 98%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	display: none;
}
.gridLi>div{
	width: 100%;
	height: 100%;
}
.gridLi>div>div{
	margin: 0.5%;
	overflow: hidden;
}

.gridLi>div img{
	width: 100%;
	height: 100%;
}
div.floatLeft{
	float: left;
	width: 49%;
}
div.floatRight{
	float: right;
	width: 49%;
}
.allHeight{
	height: 100%;
}
.allWidth{
	width: 99%;
}
.halfHeight{
	height: 49%;
}
.halfWidth{
	width: 49%;
}

/*图片上下导航*/
.navSlide{
	position: absolute;
    right: -40px;
    top:0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 180px;
}
/*上一项 图片集*/
#pre{
	width: 15px;
    height: 15px;
    border-radius: 50%;
    border:2px solid black;
    cursor: pointer;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 2px;
    transition:all .3s;
}
#pre:hover{
	box-shadow: 0 0 10px ;
	border:2px solid rgba(0,0,0,.7);
}
/*下一项 图片集*/
#next{
	width: 15px;
    height: 100px;
    margin-top: 50px;
    border-radius: 55px;
    cursor: pointer;
    border:2px solid black;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2px;
    transition:all .3s;
}
#next:hover{
	box-shadow: 0 0 10px ;
	border:2px solid rgba(0,0,0,.7);
}
/*图片展示 小图显示层*/
.imgShowDiv{
	transition:box-shadow .2s;
}
.imgShowDiv:hover{
	cursor: pointer;
	box-shadow: 0 1px 5px 3px rgba(0,0,0,.7);
}
/*图片展示 小图文字提示层*/
.imgShowDiv:hover span{
	-moz-transform:translateY(-70px);
	-ms-transform:translateY(-70px);
	-o-transform:translateY(-70px);
	-webkit-transform:translateY(-70px);
	transform:translateY(-70px);
}
.imgShowDiv>span{
	color: white;
	background-color: rgba(0,0,0,.7);
	display: block;
	text-align: center;
	height: 70px;
	line-height: 70px;
	transition:all 1s ease;
}

/*图片点击后 大图显示层*/
#showImgAllSizeDiv{
	background-color: rgba(0,0,0,.5);
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	display: none;
}
#showImgAllSizeDiv>div{
	height: 100%;
    width: 100%;
}
#showImgAllSizeDiv>div>img{
	margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/*关闭按钮*/
#clossImgShow{
    position: fixed;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    right: 0;
    top: 0;
}

#clossImgShow:hover::before, #clossImgShow:hover::after {
  background: #1ebcc5;
}
#clossImgShow::before, #clossImgShow::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  transition:all .4s;
}
#clossImgShow::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); 
}
#clossImgShow::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); 
}


div.imgShowDivItem{
	width: 100%;
    height: 100%;
    background-size: cover;
}