/*页面层*/
.body{
	width: 100%;
	height: 100%;
	min-width: 800px !important;
	background-color: black;
}
/*头部 层*/
.header-top{
	margin: auto;
	left: 0;
	right: 0;
	height: 60px;
	min-height: 60px;
	position: absolute;
	z-index:1;
}

/*头部 容器层*/
.container{
	/*width: 1000px !important;*/
	min-width: 800px;
	max-width: 1000px;
	margin: auto;
}

/*头部导航栏*/
.nav-box{
	height: 60px;
}

/*导航菜单 start */
.nav-main{
	width: auto;
	float: right !important;
}
.nav-main-ul{
	height: 60px;
	width: auto;
}
.nav-main-ul>li{
	float: left;
	height: 60px;
	line-height: 60px;
	width: 120px;
}
.nav-main-ul>li a{
	transition:background 1s;
	-moz-transition:background 1s; /* Firefox 4 */
	-webkit-transition:background 1s; /* Safari and Chrome */
	-o-transition:background 1s; /* Opera */
}
.nav-main-ul>li a:link,.nav-main-ul>li a:visited{
	display: block;
	/* height: 60px;
	width: 120px; */
	height: 40px;
	line-height: 40px;
	margin: auto;
	margin-top: 15px;
	width: 100px;

	text-align: center;
	color: white;
	font-size: 1.5em;
	border-radius: 25px;
	text-decoration: none;
}
.nav-main-ul>li a:hover,.nav-main-ul>li a:active{
	background: SkyBlue;
	border:2px solid;
	border-radius: 25px;
}
/*导航菜单 end */


/*头部 logo 外层*/
.nav-left{
	float: left;
}
/*头部 logo*/
.nav-logo{
	height: 60px;
	position: relative !important;
	float: left !important;
	/*background-color: LightSeaGreen;*/
}

div.main {
	/*height: 720px;*/
}

div.main div{
	height: 100vh;
	background-color: black;
	/*background-image: url(../images/1.jpg);*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/*图片滚动*/
div.main div ul li img {
	display:block;
	width:100%;
	min-width: 1000px;
	height: 720px;
	position: absolute;
	left:0;
	top:0;
}

/*底部*/
footer div {
	height: 100px;
	background-color: #afd9b6;
}
footer div p {
	text-align:center;
}

#fd {
	min-width: 800px;
	max-width: 1000px;
	height:400px;
	background:#f5f5f5;
	position: absolute;
	top: 70px;
  	left: 0;
  	right: 0;
  	margin: auto;
}